<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Mahasiswa</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Data Mahasiswa</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Nama</th>
                    <th>NIM</th>
                    <th>Angkatan</th>
                    <th>Program Studi</th>
                </tr>
            </thead>
            <tbody>
                {% for m in mahasiswa %}
                <tr>
                    <td>{{ m.nama }}</td>
                    <td>{{ m.nim }}</td>
                    <td>{{ m.angkatan.tahun if m.angkatan else 'N/A' }}</td>  <!-- Menampilkan tahun -->
                    <td>{{ m.program_studi.program_studi if m.program_studi else 'N/A' }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>